################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CentralDataServerClientHost/DesignTimeBuild
/.vs/CentralDataServerClientHost/v15
/AutoChem.CentralDataServerStandard/bin/Debug/netstandard2.0
/AutoChem.CentralDataServerStandard/obj
/AutoChem.CoreStandard/bin/Debug/netstandard2.0
/AutoChem.CoreStandard/obj
