<div class="container-fluid">
  <form>
    <fieldset>
      <legend class="my-legend-border">{{title}}</legend>
      <p>Define the instruments which will be monitored by iC Data Center.</p>
      <p>Note: When using iControl / iC, you must add the iC Data Center server address on the instrument PC.</p>

      <div class="row">
        <label class="col-lg-3 myLabel" for="address">Instrument address or name:</label>
        <label class="col-lg-4 myLabel" for="description">Description (optional):</label>

      </div>

      <div class="row">
        <input class="col-lg-3 myClass" type="text" id="address"/>
        <input class="col-lg-4 myClass" type="text" id="description"/>
        <button class="col-lg-2 btn btn-md btn-primary myClass" type="submit" id="add">Add</button>
        <button class="col-lg-2 btn btn-md btn-primary myClass" type="submit" id="delete">Delete</button>
      </div>


    </fieldset>

  </form>

</div>


