@media (max-width: 767px) {
  /* On small screens, dont waste space at top of the screen */

  h2 {
    margin-top: 3px;
  }
}

fieldset {
  margin: 8px;
  border: 1px solid silver;
  padding: 8px;
  border-radius: 4px;
}

legend.my-legend-border {
  width: inherit;       /* Or auto */
  padding: 0 10px;      /* To give a bit of padding on the left and right */
  border-bottom: none;
}

.myClass {
  font-size: 16px;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.myLabel {
  margin-left: 1px;
  margin-right: 10px;
  margin-top: 3px;
}

