
.home-form {
    margin-bottom: 8px;
    text-align: center;
}

.error-panel {
    color: #e74c3c;
    text-align: center;
}

.loginform {
  max-width: 300px;
}



@media (max-width: 767px) {
    .home-container {
        width: 100%;
    }

  h2 {
    margin-top: 3px;
  }
}

fieldset {
  margin: 8px;
  border: 1px solid silver;
  padding: 8px;
  border-radius: 4px;
}

legend.my-legend-border {
  width: inherit; /* Or auto */
  padding: 0 10px; /* To give a bit of padding on the left and right */
  border-bottom: none;
}

